doctype html
html
  head
    title Polymer
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

    script(src="bower_components/webcomponentsjs/webcomponents.js")

    //- Load Cores
    - var cores = ['core-toolbar', 'core-header-panel', 'core-icons', 'core-input']
    each core in cores
      link(rel="import" href="bower_components/#{core}/#{core}.html")
    //- Load papers
    - var papers = ['paper-icon-button' ,  'paper-input', 'paper-shadow' ]
    each paper in papers
      link(rel="import" href="bower_components/#{paper}/#{paper}.html")

    link(rel="stylesheet" href="css/index.css")
  body(fullbleed vertical layout unresolved)
    template(is="auto-binding")
      core-header-panel(flex)
        core-toolbar#mainheader
          paper-icon-button#navicon(icon="arrow-back")
          span(flex) Material Reddit 2
          paper-input(label="Subreddit: " value="{{input_subreddit_stage}}" committedValue="{{input_subreddit}}" flex self-end)
          span(flex) You said
            b {{input_subreddit}}
          paper-icon-button#searchbutton icon="search"


        p Testing1
        p Testing2
        section